
QuestPDFTest/.vs/ProjectEvaluation/questpdftest.metadata.v6.1
QuestPDFTest/.vs/ProjectEvaluation/questpdftest.projects.v6.1
QuestPDFTest/.vs/QuestPDFTest/DesignTimeBuild/.dtbcache.v2
QuestPDFTest/.vs/QuestPDFTest/FileContentIndex/15b66e64-620b-41ec-a391-b58136265bc2.vsidx
QuestPDFTest/.vs/QuestPDFTest/FileContentIndex/88e6cab0-1721-4b09-8c53-ce716b13e97f.vsidx
QuestPDFTest/.vs/QuestPDFTest/FileContentIndex/c6b673cd-d285-4954-847d-8e667531abaa.vsidx
QuestPDFTest/.vs/QuestPDFTest/FileContentIndex/e3a5cd98-5760-462a-a1be-b8c98687b334.vsidx
QuestPDFTest/.vs/QuestPDFTest/FileContentIndex/read.lock
QuestPDFTest/.vs/QuestPDFTest/v17/.futdcache.v2
QuestPDFTest/.vs/QuestPDFTest/v17/.suo
